@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
#nav{
    border-radius: 0;
    border:none;
    border-bottom: 2px solid #000;
    background-color: #918f8f;
}
button #span{
    background-color: #000;
}
#logo:link, #logo:visited{
    color: #000;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
}
#logo:hover, #logo:active{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
}
#liens{
    background-color: #fff;
    text-align: center;
    border: 1px solid #000;
}
#liens a{
    border: 1px solid #000;
    color: #000;
    font-size: 19px;
    font-weight: 500;
}
section h2{
    font-size: 40px;
    font-weight: 500;
}
section #chicken{
    border: none;
    background-color: #918f8f;
}
section #chicken h3{
    padding-top: 20px;
}
section #chicken p{
    line-height: 1.8;
    font-weight: 600;
}
